@* Admin navbar partial placeholder (no @page / @model) *@
<nav class="navbar navbar-dark bg-dark">
 <div class="container-fluid">
 <a class="navbar-brand" href="/admin">AdminCenter</a>
 </div>
</nav>
