@* /Pages/Frontend/_Navbar.cshtml *@
<nav class="navbar navbar-expand-sm navbar-dark erp-topbar mb-0">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-page="/Index">ERPDemoApp</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="mainNavbar" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/todoitems" target="_blank">Todos (API)</a>
                </li>
            </ul>

            <!-- Rechts uitgelijnde extra’s (optioneel) -->
            <ul class="navbar-nav ms-auto">
                @* <li class="nav-item"><a class="nav-link" href="#">Login</a></li> *@
            </ul>
        </div>
    </div>
</nav>
